.tiny-product-catalog, .tiny-product-catalog * {
  box-sizing: border-box;
}

.tiny-product-catalog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.tiny-product-catalog .tiny-product {
    border: 2px solid #000000;
    padding: 10px;
    width: 32%;
    margin-bottom: 10px;
}

.tiny-product-catalog .tiny-product h3 {
    margin-top: 0;
}

.tiny-product-catalog .tiny-product img {
    max-width: 100%;
    height: auto;
}